:root{
    --primary-nav-dark: #050718;
    --primary-bg-dark: #070c15;
    --primary-fontcolor-dark: #f9f9f9;
    --primary-card-dark: #212d40;
    --primary-section-dard: #0f151fd6;
    --button-color: dodgerblue;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary-bg-dark);
    color: var(--primary-fontcolor-dark);
    font-family: Arial, Helvetica, sans-serif;
}

/* Main */
.main-header{
    clip-path: polygon(100% 0, 100% 100%, 32% 100%, 0 39%, 0 0);
    background-color: #35255944;
}
.main-section{
    display: flex;
    width: 70%;
    margin: 0px auto;
    padding-top: 100px;
    padding-bottom: 200px;
}

.main-section .content-section{
    flex: 1;
}

.main-section .image-section{
    flex: 1
}

.image-section img{
    width: 470px;
    height: 600px;
    border-radius: 10px;
    clip-path: polygon(21% 0, 100% 0, 100% 78%, 81% 100%, 0 100%, 0 21%);
}

.image-section .image-overlay-top{
    width: 460px;
    background-color: tomato;
    height: 600px;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
    clip-path: polygon(21% 0, 100% 0, 100% 78%, 81% 100%, 0 100%, 0 21%);
}

.image-section .image-overlay-bottom{
    width: 460px;
    background-color: dodgerblue;
    height: 600px;
    position: absolute;
    margin-left: 45px;
    margin-top: 30px;
    clip-path: polygon(21% 0, 100% 0, 100% 78%, 81% 100%, 0 100%, 0 21%);
}

.content-section .content{
    padding: 30px;
    display: inline-block;
    height: 400px;
    margin-top: 100px;
    width: 500px;
}

.content h1{
    font-size: 40px;
}

.content p{
    margin: 20px 0px;
    line-height: 30px;
    font-size: 18px;
}

.content .button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: var(--button-color);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 2s ease;
}

.content .button:hover{
    background-color: rgb(6, 99, 192);
}

/* Project */
.project-section{
    margin: 100px 0px;
    width: 100%;
    padding: 50px 0px;
    background-color: var(--primary-section-dard);
}

.project-section h1{
    text-align: center;
}

.project-section .card-container{
    display: flex;
    gap: 16px;
    width: 70%;
    margin: 30px auto;
}

.card-container .card-item{
    flex: 1;
    background-color: var(--primary-card-dark);
    border-radius: 10px;
    min-height: 400px;
}

.card-item img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-item .card-content{
    padding: 10px;
}

.card-item .card-content h2{
    font-size: 18px;
}

.card-item .card-content p{
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-top: 10px;
}

.card-item .card-content a{
    text-decoration: none;
    color: var(--primary-fontcolor-dark);
    background-color: var(--button-color);
    width: 100%;
    display: block;
    padding: 7px 10px;
    text-align: center;
    font-size: 16px;
    border-radius: 13px;
    margin-top: 10px;
}


/* Demo Section */
.dem-section{
    width: 100%;
    margin-bottom: 200px;
    background: linear-gradient(300deg,#3c2b2b,#2c0b7a,#0c031f,#121017);
    background-size: 240% 240%;
    animation: gradient-animation 24s ease infinite;
    text-align: center;
    padding: 100px 0px;
}

.dem-section .demo-container{
    width: 40%;
    margin: auto;
    padding: 30px;
}

.dem-section .demo-container iframe{
    border: 1px dashed white;
    border-radius: 30px;
    width: 100%;
    cursor: pointer;
}

/* Keyfames */
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  /* Testemonial */

.testemonial-section{
    width: 100%;
    padding: 100px 0px;
    background-color: #212d40;
}

.testemonial-section h1{
    text-align: center;
}

.testemonial-section .testimonial-container{
    width: 70%;
    margin: auto;
    padding: 30px;
    display: flex;
    gap: 16px;
}

.testimonial-container .testimonial-item{
    flex: 1 1 calc(25% - 32px);
    background-color: var(--primary-section-dard);
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.testimonial-item img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #fff;
}


.testimonial-item p{
    padding: 10px;
    line-height: 20px;
    text-align: justify;
}

.testimonial-item h3{
    text-align: right;
    font-style: italic;
    font-size: 14px;
    font-weight: normal;
}

/* Contact */
.contact-section{
    width: 100%;
    padding: 100px 0px;
    background-color: var(--primary-section-dard);
}

.contact-section .contact-container{
    display: flex;
    gap: 16px;
    width: 70%;
    margin: auto;
}

.contact-container .contacts{
    flex: 3;
}

.contact-container .subscirbe{
    flex: 1;
}

.form-elment {
    width: 100%;
}


.form-elment + 
.form-elment{
    margin-top: 20px;
}

form{
    margin-top: 20px;
}

.form-elment label{
    display: block;
    margin-bottom: 10px;
}

.form-elment input, .form-elment textarea{
    display: block;
    width: 100%;
    padding: 10px 5px;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid #6b6b6b4a;
    outline: none;
}

.form-elment input:focus{
    border: 1px solid #f9f9f9;
}

.button-section{
    margin-top: 20px;
    text-align: right;
}
.submit{
    padding: 10px 30px;
    background-color: var(--button-color);
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.subscirbe .submit{
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}